# Intialization Service
# pdm-wba-init.service
# /etc/systemd/system
[Unit]
Description=WA Initializer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pdm-wba-init.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
