# Boot Time Trigger for System Configuration
# pdm-wba-setup.timer
# /etc/systemd/system
[Unit]
Description=WA Setup Timer
After=network.target

[Timer]
OnBootSec=30
Persistent=false

[Install]
WantedBy=multi-user.target